In [1]:
# import pandas as pd
# from osgeo import gdal
# import netCDF4
# import numpy as np
# import os
# import openpyxl
from functions_UI_to_BW import *
# import geowombat as gw
# from geowombat.data import rgbn

# make everything a function

In [2]:
crop_ui = "Maize (corn)"
lat_ui = 47.67
lon_ui = 2.09
obj = calcey()

In [14]:
yield_data = obj.get_background_data_yield(lat_ui, lon_ui, crop_ui)
yield_data

data_address: ['La Grillaire', ' 41600', ' Vouzon', ' Centre-Val de Loire', ' France']

74701.0

In [4]:
water_data = obj.get_background_data_water(lat_ui, lon_ui, crop_ui)
water_data

     water_footprint       value
0  average_2010_2019  143.891724

In [5]:
fert_data = obj.get_background_data_fert(lat_ui, lon_ui, crop_ui)
fert_data

data_address: ['La Grillaire', ' 41600', ' Vouzon', ' Centre-Val de Loire', ' France']
France FRA

C:\Users\Nico Mumm\Documents\PythonProjects\SpringSchool\calcey\Calcey\calcey\functions_UI_to_BW.py:60: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  country_proxy_ISO3 = country_mapping_file.loc[country_ISO3,"iso3_nearest"][0]

FRA

Country                   FRANCE
Mean_N_applied               145
Min_N_applied                145
Max_N_applied                145
Mean_P2O5_applied             38
Min_P2O5_applied              38
Max_P2O5_applied              38
Mean_K2O_applied              35
Min_K2O_applied               35
Max_K2O_applied               35
Mean_Emission_kg_N2O        3.19
Min_Emission_kg_N2O         3.19
Max_Emission_kg_N2O         3.19
Mean_Emission_kg_NH3        17.4
Min_Emission_kg_NH3         17.4
Max_Emission_kg_NH3         17.4
Mean_Emission_kg_NO3      192.85
Min_Emission_kg_NO3       192.85
Max_Emission_kg_NO3       192.85
Mean_Emission_NOx       1.224141
Min_Emission_NOx        1.224141
Max_Emission_NOx        1.224141
Mean_Emission_kg_P           1.9
Min_Emission_kg_P            1.9
Max_Emission_kg_P            1.9
Name: (FRA, Grain maize, including corn cob maize), dtype: object

series = fert_data.drop('Country')
df = pd.DataFrame({
    'Parameter': series.index,
    'Value': series.values
})
df

In [6]:
pest_data, pest_total = obj.get_background_data_pest(lat_ui, lon_ui, crop_ui)

In [7]:
pest_total

1.0338036784378346

In [12]:
yield_in_kgperha, df_fert, water_m3perkg, pest_data, pest_kgperkg = obj.create_final_dataframe(yield_data, fert_data, water_data, pest_data, pest_total)

In [13]:
df_fert= df_fert.set_index(df_fert.columns[0])
df_fert

                         Value
Parameter
Mean_N_applied        0.019411
Min_N_applied         0.019411
Max_N_applied         0.019411
Mean_P2O5_applied     0.005087
Min_P2O5_applied      0.005087
Max_P2O5_applied      0.005087
Mean_K2O_applied      0.004685
Min_K2O_applied       0.004685
Max_K2O_applied       0.004685
Mean_Emission_kg_N2O  0.000427
Min_Emission_kg_N2O   0.000427
Max_Emission_kg_N2O   0.000427
Mean_Emission_kg_NH3  0.002329
Min_Emission_kg_NH3   0.002329
Max_Emission_kg_NH3   0.002329
Mean_Emission_kg_NO3  0.025816
Min_Emission_kg_NO3   0.025816
Max_Emission_kg_NO3   0.025816
Mean_Emission_NOx     0.000164
Min_Emission_NOx      0.000164
Max_Emission_NOx      0.000164
Mean_Emission_kg_P    0.000254
Min_Emission_kg_P     0.000254
Max_Emission_kg_P     0.000254

crop_ui = "Maize (corn)"
lat_ui = 46.81228 
lon_ui = -71.21454

file_path_map = "../data/Mapping_data_Calcey.xlsx"
sheet_name_pest_map ="Mapping_pesticides"
sheet_name_water_map ="Mapping_water"
folder_path_pest_background = "../data/NC_background_pest/"
folder_path_water_background = "../data/NC_background_water/"
folder_path_yield = "../data/"
file_name_yield = "FAOSTAT_data_yield.csv"

In [9]:
fert_array = get_background_data_fert(Latitude=lat_ui, Longitude=lon_ui, crop=crop_ui)
fert_array

C:\Users\Nico Mumm\Documents\PythonProjects\SpringSchool\calcey\Calcey\calcey\functions_UI_to_BW.py:53: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  country_proxy_ISO3 = country_mapping_file.loc[country_ISO3,"iso3_nearest"][0]

Country                BOLIVIA
Mean_N_applied           555.6
Min_N_applied            555.6
Max_N_applied            555.6
Mean_P2O5_applied    13.001377
Min_P2O5_applied     13.001377
Max_P2O5_applied     13.001377
Mean_K2O_applied      6.304337
Min_K2O_applied       6.304337
Max_K2O_applied       6.304337
Name: (BOL, Wheat), dtype: object

In [ ]:
obj =
obj.execute()

In [3]:

df_pest = get_background_data_pest(input_lat=lat_ui, input_lon=lon_ui, crop=crop_ui)
df_pest

    pesticide_name     value
0            2,4-D  0.008820
1       ACETOCHLOR  0.000000
2         ALACHLOR  0.000000
3         ATRAZINE  0.000000
4     CHLORPYRIFOS  0.044748
5       CLOPYRALID  0.005065
6          DICAMBA  0.013160
7   DIMETHENAMID-P  0.098882
8             EPTC  0.000278
9      GLUFOSINATE  0.009802
10      GLYPHOSATE  0.612634
11      MESOTRIONE  0.016134
12   METOLACHLOR-S  0.199278
13     METOLACHLOR  0.000000
14        PARAQUAT  0.000000
15   PENDIMETHALIN  0.025002
16      PROPARGITE  0.000000
17        SIMAZINE  0.000000
18        TERBUFOS  0.000000

In [11]:
df_water = get_background_data_water(input_lat=lat_ui, input_lon=lon_ui, crop=crop_ui)
df_water

     water_footprint       value
0  average_2010_2019  143.891724

In [12]:
FAO_yield = get_background_data_yield(input_lat=lat_ui, input_lon=lon_ui, crop=crop_ui)
FAO_yield

74701.0

In [ ]:
df_proxy_loc_fert = pd.read_excel(folder+file_loc_fert_mapping, sheet_name = "Mapping_nearest_neighbor", index_col = 2)
df_proxy_crop_fert = pd.read_excel(folder+mapping_file, sheet_name = "Mapping_Fertilizer", index_col = 0)
df_amount_fert_crop_country = pd.read_excel(folder+fertilizer_amount_file)
df_amount_fert_crop_country = df_amount_fert_crop_country.set_index(["Country_ISO3","Crop"])